 body {
      background-color: #7A86D6;
    }

    .link {
      stroke:  #000000;
    }

    .node {
      pointer-events: none;
      font: 12px sans-serif;
    }

    .shadow {
     background-color: #7A86D6;
     font: 16px;
     border: 9px solid;
    }

    circle {
      fill: #ccc;
      stroke: #333;
      stroke-width: 1.5px;
    }

    title {
      background-color: #B4B8D4;
    }

